git+https://github.com/botswana-harvard/edc-appointment.git@develop#egg=edc_appointment
git+https://github.com/botswana-harvard/edc-base.git@develop#egg=edc_base
git+https://github.com/botswana-harvard/edc-base-test.git@develop#egg=edc_base_test
git+https://github.com/botswana-harvard/edc-calendar.git@ff5c634735cb3e5a5bdd59abbd0942dfddc5697f
git+https://github.com/botswana-harvard/edc-consent.git@develop#egg=edc_consent
git+https://github.com/botswana-harvard/edc-constants.git@develop#egg=edc_constants
git+https://github.com/botswana-harvard/edc-dashboard.git@develop#egg=edc_dashboard
git+https://github.com/botswana-harvard/edc-lab.git@develop#egg=edc_lab
git+https://github.com/botswana-harvard/edc-lab-dashboard@develop#egg=edc_lab_dashboard
edc-label
git+https://github.com/botswana-harvard/edc-device.git@867751966a4449ffd17719aad11bba6be2a52800
git+https://github.com/botswana-harvard/edc-timepoint.git@2231996b42606a422ef4763c3ab388cddf38abbe
git+https://github.com/botswana-harvard/edc-identifier.git@c849cdb598d87082ab2008d7855bd1710e7023de
git+https://github.com/botswana-harvard/edc-protocol.git@eb9bce9c4e832543c9171d1fabacd25b5db25f90
git+https://github.com/botswana-harvard/edc-pharmacy.git
git+https://github.com/botswana-harvard/edc-model-wrapper.git@814b9f85feceed246e378425ab6add8bba3b655f
git+https://github.com/botswana-harvard/edc-model-admin.git@18da70d85b1bf921fa50f48d432bb4b8ab2523b4
git+https://github.com/botswana-harvard/django-revision.git@413b56162a0e73689d94c452b34b859add4e5a08
git+https://github.com/botswana-harvard/edc-search.git@9d60b5b606b903245fad0004e432279df52da776
git+https://github.com/botswana-harvard/edc-visit-schedule.git@71588bc1e9f1e5218ab524940b11c4ec406fee9f
git+https://github.com/botswana-harvard/edc-facility.git@3cd82c74b28ec22d16c4d627eff1aaf311af4287
django-tz-detect
